<div>
    <h1> {{gameResult}} </h1>
    <h2> Wins: {{dataGame.wins}} Losses: {{dataGame.losses}}</h2>
    <br>
        <img width="150" alt="Hangman Status" src= "{{ imagePath }}" hspace="20">
    <h3>{{dataGame.current}}</h3>
</div>
<br>
<div>
    <h4>{{message}}</h4>
</div>
<form autocomplete="off" class="well" (submit)="addTask($event)">
    <div class="form-group">
        <input type="text" [(ngModel)]="word" name="word" class="form-control" placeholder="Guess...">
    </div>
</form>
<div>
    <input type="button" (click)="playAgain()" value="Play again!">
</div>
<div>
    Messsage: If you hit play again and you didn't win, it counts as a loss!
</div>
